<a href="https://colab.research.google.com/github/Aagamsheth3110/Aagamsheth3110/blob/main/file_%26_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

f = open("/content/1.txt",'rt')
print(f.readline())
f.close()

import phonenumbers

In [ ]:
f = open("/content/1.txt",'rt')
print(list(f))
f.close

['import phonenumbers\n', 'import geocoder\n']

In [ ]:
f  = open("/content/1.txt",'rt')
for i in f:
 print (i)
f.close()

import phonenumbers

import geocoder

In [ ]:
with open("/content/1.txt",'rt')as f:
  print(f.read())
f.close()

import phonenumbers
import geocoder

In [ ]:
f = open("/content/1.txt",'wt')
f.write("hi I am Aagam sheth")
f.close()

In [ ]:
f = open("/content/1.txt",'wt')
lines = ["i am electronic engineer\n","Karan has only one gf\n"]
f.writelines(lines)
f.close()

In [ ]:
f = open("/content/1.txt",'a')
f.write("i am very nice person\n")
f.close()

In [ ]:
f = open("/content/1.txt","rt")
lines = f.readline()
lines2 = f.readline()
word_line = lines.split()
word_line2 = lines2.split()
print(word_line)
print(word_line2)

['i', 'am', 'electronic', 'engineer']
['Karan', 'has', 'only', 'one', 'gf']

In [ ]:
n = int(input("enter a num of lines :"))
f  = open("/content/1.txt",'wt')
for i in range(0,n):
  print("Enter line:")
  line = input()
  f.write("\n"+line)
f.close()
nf = open ("/content/1.txt",'rt')
f = open ("/content/1.txt",'wt')
for i in range(0,n+1):
  line = nf.readline()
  f.write("\n"+line)
nf.close()
f.close()
print("the contents of the 'two.txt")
nf = open("/content/1.txt",'rt')
print(nf.read())
nf.close()

enter a num of lines :3
Enter line:
Hii
Enter line:
How are you
Enter line:
Fine
the contents of the 'two.txt

In [ ]:
n = int(input("enter a num of lines :"))
f  = open("/content/1.txt",'wt')
for i in range(0,n):
  print("Enter line:")
  line = input()
  f.write("\n"+line)
f.close()
print("the contents of new file")
f = open("/content/1.txt",'rt')
print(f.read())
f.close()

enter a num of lines :2
Enter line:
Hii
Enter line:
How are you
the contents of new file

Hii
How are you

In [ ]:
try:
  a = int(input("enter numerator = "))
  b = int(input("enter denominator ="))
  if b==0:
    raise DivideByZero
    c=(a/b)
    print("result is ",c)
except DivideByZero:
    print("error")
    print(c)

enter numerator = 5
enter denominator =5

In [ ]:
f =open("/content/1.txt",'rt')
lines =[]
lines = f.readlines()
f.close()
f = open("/content/1.txt",'wt')
for i in reversed(lines):
  f.write(i)
f.close()

In [ ]:
def Reverse(num):
  sum=0
  while(num!=0):
     sum=sum*10+num%10
     num=num//10
  return sum
num= int(input("enter no:"))
Reverse(num)

enter no:621

126

In [ ]:
def leap(year):
  if (year%4==0):
     if (year%400==0):
       print("is a leap year")
     elif(year%100==0):
       print("is not a leap year") 
  else:
       print(" is not a leap year")
year=int(input("enter year"))
leap(year)

enter year2002
 is not a leap year

In [ ]:
def isprime(lower,upper):
  for i in range (lower,upper+1):
    if num>1:
      for n in range(2,num):
        if(num%i)==0:
          break
        else:
          print(num)
lower = int(input ("Enter the lower no:"))
upper = int(input ("Enter the upper no:"))
isprime (lower,upper)

Enter the lower no:6
Enter the upper no:4

In [ ]:
def factorial (n):
  ans=1
  for i in range(n,0,-1):
    ans=ans*i
  return ans
n=int(input("enter no: "))
factorial (n)

enter no: 5

120