<a href="https://colab.research.google.com/github/Aagamsheth3110/Aagamsheth3110/blob/main/Python_programme(list%2C_function_%E2%98%BA%EF%B8%8F%2C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import itertools
num=[1,2,3,4]
list(itertools.repeat(num,2))

[[1, 2, 3, 4], [1, 2, 3, 4]]

In [ ]:
name = ["aagam","bhavi","kajal"]
length=list(map(len,name))
print (length)

[5, 5, 5]

In [ ]:
def test_name(x):
  return x+3
  new_list=list(map(test_name,range(10)))
  print(new_list)

In [ ]:
n = int(input("enter the marks:"))
if n>=75:
  print ("grade: distinction")
elif n>=60:
  print("grade:First class")
elif n>=45:
  print("grade:second class")
elif n>=35:
  print("grade:pass")
else:
  print("grade:fail")

enter the marks:56
grade:second class

In [ ]:
n=int(input ("enter the no: "))
sum=0
avg=0
i=0
while i<=n:
  i=i+1
  sum=sum+i
  avg=sum/n
  print("sum is : ",sum)
  print ("avg is :",avg)

enter the no: 10
sum is :  1
avg is : 0.1
sum is :  3
avg is : 0.3
sum is :  6
avg is : 0.6
sum is :  10
avg is : 1.0
sum is :  15
avg is : 1.5
sum is :  21
avg is : 2.1
sum is :  28
avg is : 2.8
sum is :  36
avg is : 3.6
sum is :  45
avg is : 4.5
sum is :  55
avg is : 5.5
sum is :  66
avg is : 6.6

In [ ]:
n=int(input("enter the no:"))
i=1
for i in range (1,n+1):
  if i%2==0:
    print(i,"is even no")
  if i%2==1:
    print(i,"is odd no")

enter the no:10
1 is odd no
2 is even no
3 is odd no
4 is even no
5 is odd no
6 is even no
7 is odd no
8 is even no
9 is odd no
10 is even no

In [ ]:
n=int(input("enter the Fibonacci series:"))
a=0
b=1
i=0
while i<n:
  c=a+b
  a=b 
  b=c
  i=i+1
  print(a)

enter the Fibonacci series:6
1
1
2
3
5
8

In [ ]:
n=int(input("enter the no:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print(" ")

enter the no:5
*
**
***
****
*****

In [ ]:
n=int(input("enter the no:"))
for i in range(n,0,-1):
  for j in range (1,i+1):
    print("*",end="")
  print("")

enter the no:5
*****
****
***
**
*

In [ ]:
n=int(input("enter the no:"))
for i in range(1,n+1):
  for j in range (1,i+1):
    print ("*",end="")
  print ("")
for i in range(n-1,0,-1):
 for j in range(1,i+1):
   print("*",end="")
 print ("")

enter the no:5
*
**
***
****
*****
****
***
**
*

In [ ]:
n=int(input("enter the no:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end="")
  print ("")

enter the no:5
1
22
333
4444
55555

In [ ]:
n=int(input("enter the no:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print ("")

enter the no:5
1
12
123
1234
12345

In [ ]:
n=int(input("enter the no:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(64+j),end="")
  print ("")

enter the no:5
A
AB
ABC
ABCD
ABCDE

In [ ]:

for i in range(1,6):
  for j in range(1,i+1):
    print(chr(96+j),end="")
  print ("")

a
ab
abc
abcd
abcde

In [ ]:

for i in range(0,11):
  if i%2==0:
    print (i,"is even no")

0 is even no
2 is even no
4 is even no
6 is even no
8 is even no
10 is even no

In [ ]:
d={11:"Red",12:"Blue",98:"Green",42:"White"}
mylist1=list(d.keys())
mylist2=list(d.values())
print (mylist1)
print (mylist2)
mylist1.sort()
print (mylist1)
mylist2.sort()
print (mylist2)

[11, 12, 98, 42]
['Red', 'Blue', 'Green', 'White']
[11, 12, 42, 98]
['Blue', 'Green', 'Red', 'White']

In [ ]:
d={11:"Red",12:"Blue",98:"Green"}
mylist=list(d.items())
print(mylist)

[(11, 'Red'), (12, 'Blue'), (98, 'Green')]

In [ ]:
n=int(input("enter the no:"))
for i in range(1,11):
  print (n,"x",i,"=",i*n)

enter the no:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
n=int(input("enter the no:"))
sum=0
for i in range(1,n+1):
  sum=sum+1/i
  print (sum)

enter the no:5
1.0
1.5
1.8333333333333333
2.083333333333333
2.283333333333333

In [ ]:
n=int(input("enter the no:"))
if n>1:
  for i in range(2,n):
    if n%i==0:
       print(n,"is not prime no")
       break
    else:
       print (n,"is prime no")
       break

enter the no:10
10 is not prime no

In [ ]:
f=open("/content/1.txt",'wt')
line=("hii how are you\n","I am aagam sheth\n","thank you \n")
f.writelines(line)
f.close()

In [ ]:
f=open("/content/1.txt",'rt')
line=f.readline()
word=line.split()
print(word)
f.close()

['hii', 'how', 'are', 'you']

In [ ]:
n=int(input("enter the no:"))
f=open("/content/1.txt",'wt')
for i in range (0,n):
  print("enter line")
  line =input()
  f.write("\n"+line)
f.close()
print("now read this file")
f=open("/content/1.txt",'rt')
print(f.read())
f.close()

enter the no:3
enter line
Hi
enter line
Aagam
enter line
How are you
now read this file

Hi
Aagam
How are you

In [ ]:
n=int(input("enter the no:"))
f=open("/content/1.txt",'wt')
for i in range (0,n):
  print("enter line")
  line=input()
  f.write("\n"+line)
f.close()
nf=open("/content/1.txt",'wt')
f=open("/content/1.txt",'rt')
for i in range(0,n+1):
  line=f.readline()
  nf.write("\n"+line)
nf.close()
f.close()
print("now read this file")
nf=open("/content/1.txt",'rt')
print(nf.read())
nf.close()

enter the no:2
enter line
Hi
enter line
Aagam
now read this file

In [ ]:

f=open("/content/1.txt",'rt')
count=0
for i in f:
  word =i.split()
  count+=1
print ("total no of line:",count)
f.close()

total no of line: 3

In [ ]:
f=open("/content/1.txt",'rt')
count=0
for i in f:
  word =i.split()
  count+=len(word)
f.close()
print ("total no of word:",count)

total no of word: 0

In [ ]:
f=open("/content/1.txt",'rt')
count=0
for i in f:
  word=i.split()
  count+=len(i)
f.close()
print(count)

3

In [ ]:
f=open("/content/1.txt",'rt')
count=0
for i in f:
  word=i.split()
  for letter in word:
    if(letter.isspace):
     count+=1
f.close()
print(count)

0

In [ ]:
try:
  a=int(input("enter the no of a:"))
  b=int(input("enter the no of b:"))
  if b==0:
    raise DevideByZero
  c=a/b
  print ("the ans is",c)
except DevideByZero:
  print ("Error:Devide By Zero")
  print ()

enter the no of a:4
enter the no of b:0

NameError: ignored

In [ ]:


mylist=[]
n=int(input("enter the no:"))
for i in range(0,n):
  a=int(input ("enter the element:"))
  mylist.append(a)
  print(mylist)
print("max elment for this list")
max_elment=mylist[0]
for i in range (0,n):
  if(mylist[i] > max_elment):
    max_elment=mylist[i]
print (max_elment)
print("min elment for this list")
min_elment=mylist[0]
for i in range (0,n):
  if(mylist[i] < min_elment):
    min_elment=mylist[i]
print (min_elment)

print("sum of all num:")
sum=0
for i in range (0,n):
  sum=sum+mylist[i]
print (sum)

print ("average of num:")
avg=sum/n
print(avg)

enter the no:3
enter the element:34
[34]
enter the element:23
[34, 23]
enter the element:65
[34, 23, 65]
max elment for this list
65
min elment for this list
23
sum of all num:
122
average of num:
40.666666666666664

In [ ]:
days=365
hours=24
minutes=60
second=60
print("no of second in year",days*hours*minutes*second)

no of second in year 31536000

In [ ]:
days=365
hours=24
minutes=60
print("no of minutes in year",days*hours*minutes)

no of minutes in year 525600

In [ ]:
print("Input three integers(sides of a triangle)")
int_num = list(map(int,input().split()))
x,y,z = sorted(int_num)
if x**2+y**2==z**2:
   print('Yes')
else:
   print('No')

In [ ]:
dec=int(input ("enter the decimal no:"))
print(bin(dec))
print(hex(dec))

enter the decimal no:35
0b100011
0x23

In [ ]:
def even_no(n):
  n=int(input("enter no:"))
  if n%2==0:
    print("true")
  else:
    print("false")
even_no(n)

enter no:2
true

In [ ]:
def factorial_no(n):
  ans=1
  for i in range(1,n+1):
    ans=ans*i
  print (ans)
factorial_no(5)

120

In [ ]:
d={'b':35,'a':45}
list=d['a']
print (list)
print(len(d))

45
2

In [ ]:
def area_circle(r):
  pi=3.14
  circle=pi*r*r
  print ("area of circle is ", circle)
r=int(input())
area_circle(r)

2
area of circle is  12.56

In [ ]:
def fibb_num(n):
  a=0
  b=1
  i=0
  while i<n:
   c=a+b
   a=b
   b=c 
   i=i+1
   print(a)
n=int(input("Fibonacci sequence"))
fibb_num(n)

Fibonacci sequence9
1
1
2
3
5
8
13
21
34

In [ ]:
def swap_no(a,b):
  temp=a
  a=b
  b=temp
  print ("after swapping")
  print (a)
  print (b)
swap_no(20,50)

after swapping
50
20

In [ ]:
def max(a,b,c):
  if(a>b and a>c):
    print ("a is large")
  elif(b>c and b>a):
    print ("b is large")
  else:
    print("c is large")
max(20,60,56)

b is large

In [ ]:
def square ():
  mylist=[]
  for i in range(1,31):
    mylist.append(i**2)
  print (mylist)
square ()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [ ]:
def leap(year):
  if(year%4==0):
    if(year%400==0):
       print (year,"is a leap year")
  elif(year%100==0):
     print (year,"is not leap year")
  else: 
     print (year,"is not leap year")
year=int(input())
leap(year)

2001
2001 is not leap year

In [ ]:
def isprime(n):
  while n>1: 
    for i in range(2,n):
      if(n%i)==0:
        print (i,"is not prime no")
       break 
      else: 
        print(i,"is prime no")
       break
isprime(n)

In [ ]:
def isprime(n):
  while n>1: 
    for i in range(2,n):
      if(n%i)==0:
        print (i,"is not prime no")
      break
      else: 
        print(i,"is prime no")
      break
isprime(n)

In [ ]:
def isprime(n):
  if n> 1: 
    for i in range(2,n):
      if(n%i)==0:
        print (n,"is not prime no")
        break
      else: 
        print(n,"is prime no")
        break
isprime(3)

3 is prime no

In [ ]:
def Reverse(num):
  sum=0
  while (num!=0):
    sum=sum*10+num%10
    num=num//10
  return sum
num=int(input())
Reverse (num)

1334

4331

In [ ]:
def factorial (n):
  ans=1
  for i in range(n,0,-1):
    ans=ans*i
  return ans 
factorial (5)

120

In [ ]:
def palindrom(num):
  sum=0
  temp=num
  while (num!=0):
    sum=sum*10+num%10
    num= num//10
  if(temp==sum): 
    print(temp,"is palindrom")
  else:
    print(temp,"is not palindrom")
num=int(input())
palindrom (num)

8437
8437 is not palindrom

In [ ]:
def palindrom(num):
  sum=0
  temp=num
  while (num!=0):
    sum=sum*10+num%10
    num=num//10
  if(temp==sum):
      print (temp,"is palindrom")
  else:
      print (temp,"is not palindrom")
num=int(input())
palindrom(num)

321
321 is not palindrom